#clrFlppr {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vh, max-content));
    gap: 40px;
    padding: 40px;
    justify-content: start;
    align-items: start;
}

.flpBtn {
    height: 3vh;
    width: 9vh;
    border-radius: 50px;
    background-color: rgb(204, 127, 255);
    color: rgb(57, 20, 220);
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    ;
}

#cntr {
    position: relative;
    height: 20vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #7e5d9c;
    border-radius: 30px;
}

#cntr::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23FF80BF' stroke-width='4' stroke-dasharray='10 10'%3E%3Canimate attributeName='stroke-dashoffset' values='0%3B-20' dur='1s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
    pointer-events: none;
}

.flpBtnClass {
    height: 20vh;
    width: 20vh;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    white-space: normal;
    text-align: center;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #cccf1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23FF80BF' stroke-width='4' stroke-dasharray='10 10'%3E%3Canimate attributeName='stroke-dashoffset' values='0%3B-20' dur='1s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
}

.flpBtnClass:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.flpBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}